<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head')%> 

<body>
  
    <%- include('../partials/header')%> 
   <main>

   

    <img src="/images/Carrousel3.png" alt="imagen gamer" class="imagen-gamer">




                     

    <section class="categorias-destacado">


     <div class="destacado02"><a href="/"><img src="/images/arma-tu-pc.png" alt="seccion de armado de pc" class="destacado"></a></div>


      

     <div class="categorias02">

        <a href="/"><img src="/images/audio-y-video.png" alt="" class="categoria-uno"></a>

            <a href="/"><img src="/images/pc-y-notebook.png" alt="" class="categoria-dos"></a>

                <a href="/"><img src="/images/sillas.png" alt="" class="categoria-tres"></a>
</div>

    </section>


    <br><br><br>
    <h3 class="titulo">¡Lo más destacado!</h3>



    <%- include('../partials/destacado')%> 


<br><br><br><br><br><br>
<%- include('../partials/ofertas')%> 



<section class="banners">


    <img src="/images/Carrousel2.png" alt="envio a todo el pais">
    <img src="/images/Carrousel5.png" alt="portada de un video juego">



</section>



    <%- include('../partials/newsletter')%> 


   </main>

   <%- include('../partials/footer')%>


</body>
</html>